<!doctype html>
<html>
    <head>
        <title>Contact Info</title>
        <link rel='stylesheet' href="/node_modules/bootstrap/dist/css/bootstrap.css">
        <style>
            label {
                cursor: pointer;
            }
        </style>
    </head>
    <body ng-app="appContacts">        
        <h1>Contact Info</h1>
        <person-form></person-form>
        <person-table></person-table>        
    
        <script type="text/javascript" src="/node_modules/angular/angular.js"></script>
        <script type="text/javascript" src="/code/scripts/app.js"></script>
        <script type="text/javascript" src="/code/scripts/controllers/personCtrl.js"></script>
        <script type="text/javascript" src="/code/scripts/directives/personForm.js"></script>
        <script type="text/javascript" src="/code/scripts/directives/personTable.js"></script>
    </body>
</html>