<div class="row">
    <div class="col-md-2">
        <input type="text" class="form-control" ng-model="search" placeholder="search">
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <!--empty slot for edit buttons-->
    </div>
    <div class="col-md-2">
        <label ng-click="personToggle.toggleColumn('firstname')">First Name</label>
    </div>
    <div class="col-md-2">
        <label ng-click="personToggle.toggleColumn('lastname')">Last Name</label>
    </div>
    <div class="col-md-2">
        <label ng-click="personToggle.toggleColumn('phone')">Phone No.</label>
    </div>
    <div class="col-md-1">
        <label ng-click="personToggle.toggleColumn('state')">State</label>
    </div>
    <div class="col-md-1">
        <label ng-click="personToggle.toggleColumn('gender')">Gender</label>
    </div>
    <div class="col-md-2">
        <label ng-click="personToggle.toggleColumn('email')">Email</label>
    </div>
</div>
<div class="row" ng-repeat="person in personArray | filter:search | orderBy:personToggle.sortBy:personToggle.sortOrder">
    <div class="col-md-2">
        <button type="button" class="btn btn-info" ng-click="personForm.editPerson(person)">Edit</button>
        <button type="button" class="btn btn-danger" ng-click="personForm.deletePerson(person.personinfoid)">Delete</button>
    </div>
    <!--<div class="col-md-1">
        {{person.entryNum}}
    </div>-->
    <div class="col-md-2">
        {{person.firstname}}
    </div>
    <div class="col-md-2">
        {{person.lastname}}
    </div>
    <div class="col-md-2">
        {{person.phone}}
    </div>
    <div class="col-md-1">
        {{person.state}}
    </div>
    <div class="col-md-1">
        {{person.gender}}
    </div>
    <div class="col-md-2">
        {{person.email}}
    </div>
</div>